<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Inicio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/all.css}">
<link rel="stylesheet" th:href="@{/css/brands.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.css}">
<link rel="stylesheet" th:href="@{/css/shard.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/menuAdmin.css}">
</head>
<body>

	<br>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>


	<div class="menu-admin ml-5 mt-4 mr-5">
		<nav class="navbar1 navbar-light bg-light">
			<a class="navbar-brand"> MENU ADMINISTRADOR</a>
		</nav>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarcategorias}">Lista Categorías</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarPaises}">Lista Paises</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarDepartamentos}">Lista Departamentos</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarMunicipios}">Lista Municipios</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarProveedor}">Lista Proveedores</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarProducto}">Lista Productos</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarUsuarios}">Lista Clientes</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarVendedores}">Lista Vendedores</a>
		</button>
		<br>
		<button class="btn1">
			<a class="navbar-brand1" sec:authorize="${hasRole('ADMIN')}"
				th:href="@{/listarBodega}">Lista Bodegas</a>
		</button>
		<form th:action="@{/?logout}" method="post"
			class="form-inline my-2 my-lg-0">
			<input class="btn btn-outline-success my-2 my-sm-5" type="submit"
				value="Salir" />
		</form>
	</div>

</body>
<footer> </footer>
</html>