<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Inicio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/all.css}">
<link rel="stylesheet" th:href="@{/css/brands.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.css}">
<link rel="stylesheet" th:href="@{/css/shard.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">	 	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	    <li class="nav-item" sec:authorize="${hasRole('ADMIN') || hasRole('VENDEDOR')}"><a
					class="nav-link" th:href="@{/index}">Inicio</a></li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarcategorias}">Lista categorías</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarPaises}">Lista paises</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarDepartamentos}">Lista departamentos</a>
	      </li>
	     
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarProveedor}">Lista proveedores</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarProducto}">Lista productos</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarUsuarios}">Lista clientes</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarVendedores}">Lista vendedores</a>
	      </li>
	      
	      <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
	        <a class="nav-link" th:href="@{/listarBodega}">Lista bodegas</a>
	      </li>
	      <li class="nav-item" sec:authorize="${hasRole('VENDEDOR')}">
	        <a class="nav-link" th:href="@{/listarBodegasVendedor/{email}(email=${#httpServletRequest.remoteUser})}">Mis Bodegas</a>
	      </li>
	      
	    </ul>
	    <form th:action="@{/}" method="post" class="form-inline my-2 my-lg-0">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Salir" />
        </form>
	  </div>
	</nav>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
    
</body>
<footer> </footer>
</html>